In [8]:
import numpy as np
from empiricaldist import Pmf

hypos = np.arange(1, 1001)
prior = Pmf(1, hypos)

alpha = 1.0
ps = hypos**(-alpha)
power = Pmf(ps, hypos, name='power law')
power.normalize()

power

1       0.133592
2       0.066796
3       0.044531
4       0.033398
5       0.026718
          ...
996     0.000134
997     0.000134
998     0.000134
999     0.000134
1000    0.000134
Name: power law, Length: 1000, dtype: float64